:root {
	--c-text: #fefae0ff;
	--c-highlight: #7C88D4;
	--c-content: #2e2e2e;
	--c-background: #1e1e1e;
	--c-1st: #5C55EF;
	--c-2nd: #9F5B1E;
}

.header h1 {
	padding: 1rem 0;
	text-align: center;
	font-size: 1.3rem;
}

/* search */
.search {
	display: flex;
	gap: .5rem;
	width: 40%;
	height: 3rem;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.search-query {
	flex: 75;
	padding: 4px 8px;
	border: none;
	border-radius: 12px;
	box-shadow: rgba(63, 63, 121, 0.281) 0px 50px 100px -20px, rgba(15, 13, 13, 0.37) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.search-section {
	flex: 25;
	border: none;
	border-radius: 12px;
	box-shadow: rgba(63, 63, 121, 0.281) 0px 50px 100px -20px, rgba(15, 13, 13, 0.37) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

