<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Admin | Gatekeep</title>
	<!--  -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/setup.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
	<header class="heading">
		<h1>Gatekeep</h1>
		<p>Admin Panel</p>
	</header>
	<form class="form" onsubmit="submitLogin(event)">
		<label>Enter Password <input type="password" name="password" required></label>
		<button type="submit">Submit</button>
	</form>

	<script src="/js/adminLogin.js"></script>
</body>
</html>