<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Admin | Gatekeep</title>
	<!--  -->
	<link rel="preconnect" href="https://fonts.googleapis.com" defer>
	<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded" rel="stylesheet" defer>
	<link rel="icon" type="image/x-icon" href="assets/ico.ico" defer>
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="assets/setup">
	<link rel="stylesheet" href="assets/accounts.css">
</head>
<body>
	<header class="heading">
		<h1>Gatekeep</h1>
		<p>Admin Panel</p>
	</header>
	<form class="form" onclick="event.preventDefault()">
		<label>Enter Password <input type="text"></label>
	</form>
</body>
</html>