<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Panel | Gatekeep</title>
	<!--  -->
	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/setup.css">
	<link rel="stylesheet" href="/admin/assets/panel.css">
</head>
<body>
	<main class="main">
		<div class="scanner section" id="scanner">
			<div class="scanner-container">
				<video id="scanner-video" muted></video>
			</div>
		</div>
		<div class="info section">
			<header class="info-header">
				<h1>infomation</h1>
				<p class="info-header-text"></p>
			</header>
			<div class="info-contain">
				<fieldset class="info-general">
					<legend>General infomation</legend>
					<div class="info-general-grid">
						<label class="info-name">Name: <span></span></label>
						<label class="info-gradeLevel">GradeLevel: <span></span></label>
						<label class="info-section">Section: <span></span></label>
						<label class="info-lrn">LRN: <span></span></label>
						<label class="info-sex">Sex: <span></span></label>
						<label class="info-age">Age: <span></span></label>
						<label class="info-phoneNumber">Phone Number:<span></span></label>
					</div>
				</fieldset>
				<fieldset class="info-addres">
					<legend>Address</legend>
					<div class="info-address-grid">
						<label class="info-houseNo">House No. <span></span></label>
						<label class="info-street">Street Name: <span></span></label>
						<label class="info-zip">zip code: <span></span></label>
						<label class="info-barangay">Barangay: <span></span></label>
						<label class="info-city">Municipality/City: <span></span></label>
						<label class="info-province">Province: <span></span></label>
					</div>
				</fieldset>
			</div>
		</div>
		<div class="settings section">
			<form onsubmit="event.preventDefault()">
				<fieldset class="settings-scanner">
					<legend>Camera Settings</legend>
					<label>start: <input type="checkbox" name="cameraStart" autocomplete="off" onchange="scannerStart(this)"></label>
					<label>Scans per second: <input name="fpps" type="number" value="1" min="1" max="30" onchange="fps(this.value)"></label>
					<label>Torch: <input type="checkbox" name="torch" autocomplete="off" onchange="flash(this)"></label>
					<label>Mirrored: <input type="checkbox" name="torch" autocomplete="off" checked onchange="mirror()"></label>
					<label>Cameras:
						<select name="" autocomplete="off" onchange="changeCamera(this.value)" class="cameraList">
							<option hidden disabled selected>waiting for camera to start</option>
							<option hidden class="cameraList_original"></option>
						</select>
					</label>
				</fieldset>
				<fieldset>
					<legend>Qr settings</legend>
					<label>Is Entrance <input type="checkbox" autocomplete="off" checked onchange="changeIsIn(this)"></label>
				</fieldset>
			</form>
		</div>
	</main>

	<script src="/admin/qr-scanner.umd.min.js" defer></script>
	<script src="/admin/assets/panel.js" defer></script>
</body>
</html>