:root {
	--c-text: #fefae0ff;
	--c-highlight: #7C88D4;
	--c-content: #2e2e2e;
	--c-background: #1e1e1e;
	--c-1st: #5C55EF;
	--c-2nd: #9F5B1E;
}

._time {
	padding: 3px 4px;
	border-radius: 8px;
	background-color: #26262680;
	color: var(--c-2nd);
	font-weight: 500;
	font-style: italic;
}

.main {
	display: grid;
	gap: 1rem;
	/* grid-template-columns: repeat(2, 1fr); */
	grid-template-columns: 0.8fr 1.2fr;
	/* grid-template-rows: 1.4fr 0.6fr; */
	grid-template-rows: repeat(2, 1fr);
	grid-template-areas: 
    "logs info"
    "logs qr"; 
	height: 80vh;
	padding: 2rem;
}

.main article {
	padding: 0.5rem 1.5rem;
	border-radius: 14px;
	background-color: var(--c-content);
}

/* *logs */

.logs { 
	grid-area: logs; 
	padding: .5rem !important;
}

.logs h1 {
	margin: .5rem 0;
	text-align: center;
	font-weight: 600;
}

.logs-container {
	display: flex;
	flex-direction: column;
	/* flex-direction: column-reverse; */
	place-items: center;
	gap: 1rem;
	height: 90%;
	overflow-y: auto;
	scroll-snap-type: y mandatory;
	scrollbar-width: thin;
}

.logs-item {
	width: 90%;
	padding: 1rem;
	border-radius: 14px;
	scroll-snap-align: start;
	background-color: #3e3e3e;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.logs-item-title {
	margin: 0.5rem 0;
	font-size: 1.5rem;
	font-weight: 500;
}

.logs-item-desc {
	margin: 0.5rem 0;
	font-size: .9rem;
}

/* *info */

.info { grid-area: info; }

.info h2 {
	font-size: 1.5rem;
	margin: .3rem 0;
	font-weight: 600;
	text-align: center;
}

.info-contain {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: .3rem;
	grid-template-areas: 
    "lastName lrn"
    "firstName age"
    "middleName sex"
}

.lastName { grid-area: lastName; }
.firstName { grid-area: firstName; }
.middleName { grid-area: middleName; }
.suffixName { grid-area: suffixName; }
.lrn { grid-area: lrn; }
.birthdate { grid-area: birthdate; }
.age { grid-area: age; }
.sex { grid-area: sex; }

.info-contain label {
	font-size: 1rem;
}

.info-contain label p {
	display: block;
	margin: 5px 0;
	padding: 4px 2px;
	border-radius: 4px;
	background-color: #fff;
	color: #000;
}

.info-buttons ul {
	display: flex;
	justify-content: center;
	gap: 1rem;
	margin: 5px 0;
	color: var(--c-text);
}

.info-buttons ul li {
	padding: 8px 4px;
	background-color: var(--c-1st);
	border-radius: 14px;
}

.info-buttons ul li button {
	background-color: transparent;
	border: none;
	width: 100%;
	height: 100%;
}

.info-buttons ul li button i{
	font-size: 1.3rem;
}

.info-buttons button:hover {
	text-decoration: underline;
}

/* *qr */

.qr { grid-area: qr; }

.qr h3 {
	font-size: 2rem;
	margin: .5rem 0;
	text-align: center;
}

.qr-contain {
	display: flex;
	gap: 1rem;
}

.qr-img {
	width: 25%;
	border-radius: 14px;
	aspect-ratio: 1 / 1;
}

.qr-buttons {
	display: flex;
	flex-direction: column;
	gap: .5rem;
}

.qr-buttons button {
	border: none;
	padding: 4px 8px;
	border-radius: 4px;
	background-color: #3e3e3e;
}

.qr-buttons button:hover {
	text-decoration: underline;
}

/* update info */

.update {
	width: 60%;
	border: none;
	padding: .5rem;
	box-shadow: rgb(2, 9, 15) 0px 30px 40px -10px;
	border-radius: 14px;
	background-color: var(--c-content);
}

.update::backdrop {
	backdrop-filter: blur(4px);
}

#form-update {
	padding: .5rem;
}

.update-header {
	text-align: center;
}

.update-header h4 {
	margin: .5rem 0;
	font-size: 2rem;
}

.update-header p {
	margin: .5rem 0;
}

.update fieldset {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
	border: none;
}

.update legend{
	margin: 0 auto;
	margin-top: 1.5rem;
	font-size: 1rem;
	color: var(--c-text);
}

.update input {
	width: 95%;
	height: 25px;
	margin-top: 4px;
	border: none;
	border-radius: 4px;
}

#sex select {
	width: 95%;
	height: 25px;
	margin-top: 4px;
	border: none;
	border-radius: 4px;
}

.update-general-grid {
	vertical-align: middle;
	display: grid;
	place-content: center;
	place-items: center;
	gap: .5rem;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-template-areas: 
	"lastName lastName firstName firstName middleName middleName"
	". age age sex sex .";
}

#lastName {grid-area: lastName;}
#firstName {grid-area: firstName;}
#middleName {grid-area: middleName;}
#age {grid-area: age;}
#sex {grid-area: sex; width: 100% ;}

.update-address-grid {
	display: grid;
	gap: .5rem;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

.update-buttons {
	display: flex;
	justify-content: center;
	margin: 0;
}

.update-buttons li{
	width: 60%;
}

.submit {
	width: 100%;
	height: 30px;
	margin: .5rem auto;
	border: none;
	border-radius: 4px;
	background-color: var(--c-1st);
}

.submit:hover {
	text-decoration: underline;
}

.submit:focus {
	outline: 3px var(--c-highlight) solid;
}

/* *view */

.view {
	width: 60%;
	border: none;
	padding: 1rem;
	box-shadow: rgb(2, 9, 15) 0px 30px 40px -10px;
	border-radius: 14px;
	background-color: var(--c-content);
}

.view::backdrop {
	backdrop-filter: blur(4px);
}

.view header h4 {
	font-size: 1.8rem;
	margin: 1rem auto;
	font-weight: 600;
	text-align: center;
}

.view fieldset {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
	border: none;
}

.view fieldset legend{
	margin: 0 auto;
	margin-top: 1.5rem;
	font-size: 1rem;
	color: var(--c-text);
}

.view-general-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: .3rem;
}

.view-address-grid {
	display: grid;
	gap: .3rem;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

.view-contain label {
	font-size: 1rem;
	width: 95%;
}

.view-contain label p {
	display: block;
	margin: 5px 0;
	padding: 4px 2px;
	border-radius: 4px;
	background-color: #fff;
	color: #000;
}

.view-buttons {
	display: flex;
	justify-content: center;
	gap: 1rem;
	margin: 5px 0;
	/* color: var(--c-text); */
}

.view-buttons button {
	height: 100%;
	width: 15%;
	padding: 8px 4px;
	border: none;
	border-radius: 14px;
	background-color: var(--c-1st);
}

.view-buttons button:hover {
	text-decoration: underline;
}

/* small screens */

@media only screen and (max-width: 600px) {
	.main {
		grid-template-columns: 1fr;
		grid-template-areas: 
		"qr"
		"info"
		"logs";
		padding: .8rem;
	}

	.main article {
		padding: .5rem;
	}

	.logs {
		height: 500px;
	}

	.qr-img {
		width: 75%;
		align-self: center;
	}
	.qr-contain {
		flex-direction: column;
		padding-bottom: 1rem;
	}

	/* update dialog */

	.update {
		height: 80%;
	}
	
	#form-update {
		height: 95%;
		overflow-y: scroll;
		scrollbar-width: thin;
	}

	.update input{
		width: 100%;
	}

	.update-general-grid {
		grid-template-columns: 1fr;
		grid-template-areas:
		"lastName"
		"firstName"
		"middleName"
		"age"
		"sex"
		;
	}

	.update-address-grid {
		grid-template-columns: 1fr;
	}
}