:root {
	--c-text: #fefae0ff;
	--c-highlight: #7C88D4;
	--c-content: #2e2e2e;
	--c-background: #1e1e1e;
	--c-1st: #5C55EF;
	--c-2nd: #9F5B1E;
}

._time {
	padding: 4px 8px;
	border-radius: 18px;
	background-color: #26262680;
	color: var(--c-2nd);
	font-weight: 500;
	font-style: italic;
}

.main {
	display: grid;
	gap: 1rem;
	/* grid-template-columns: repeat(2, 1fr); */
	grid-template-columns: 0.8fr 1.2fr;
	/* grid-template-rows: 1.4fr 0.6fr; */
	grid-template-rows: repeat(2, 1fr);
	grid-template-areas: 
    "logs info"
    "logs qr"; 
	height: 80vh;
	padding: 2rem;
}

/* *logs */

.logs {
	grid-area: logs;
	padding: 1.5rem;
	border-radius: 14px;
	background-color: var(--c-content);
}

.logs h1 {
	margin: .5rem 0;
	text-align: center;
	font-weight: 600;
}

.logs-container {
	display: flex;
	flex-direction: column-reverse;
	place-items: center;
	gap: 1rem;
	height: 90%;
	overflow-y: auto;
	scroll-snap-type: y mandatory;
	scrollbar-width: thin;
}

.logs-item {
	width: 90%;
	padding: 1rem;
	border-radius: 14px;
	scroll-snap-align: start;
	background-color: #3e3e3e;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.logs-item-title {
	margin: 0.5rem 0;
	font-size: 1.5rem;
	font-weight: 500;
}

.logs-item-desc {
	margin: 0.5rem 0;
	font-size: .9rem;
}

/* *info */

.info { 
	grid-area: info;
	padding: .5rem 1.5rem;
	border-radius: 14px;
	background-color: var(--c-content);
}

.info h2 {
	font-size: 1.5rem;
	margin: .3rem 0;
	font-weight: 600;
	text-align: center;
}

.info-contain {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: .3rem;
	grid-template-areas: 
    "lastName lrn"
    "firstName age"
    "middleName sex"
}

.lastName { grid-area: lastName; }
.firstName { grid-area: firstName; }
.middleName { grid-area: middleName; }
.suffixName { grid-area: suffixName; }
.lrn { grid-area: lrn; }
.birthdate { grid-area: birthdate; }
.age { grid-area: age; }
.sex { grid-area: sex; }

.info-contain label {
	font-size: 1rem;
}

.info-contain label p {
	display: block;
	margin: 5px 0;
	padding: 4px 2px;
	border-radius: 4px;
	background-color: #fff;
	color: #000;
}

.info-buttons ul {
	display: flex;
	justify-content: center;
	gap: 1rem;
	margin: 5px 0;
	color: var(--c-text);
}

.info-buttons ul li {
	padding: 8px 4px;
	background-color: var(--c-1st);
	border-radius: 14px;
}

.info-buttons ul li i {
	font-size: 1.3rem;
}

.info-buttons a:hover {
	text-decoration: underline;
}

/* *qr */

.qr {
	grid-area: qr;
	padding: .5rem 1.5rem;
	border-radius: 14px;
	background-color: var(--c-content);
}

.qr h3 {
	font-size: 2rem;
	margin: .5rem 0;
	text-align: center;
}

.qr-contain {
	display: flex;
	gap: 1rem;
}

.qr-img {
	width: 25%;
	border-radius: 14px;
	aspect-ratio: 1 / 1;
}

.qr-buttons {
	display: flex;
	flex-direction: column;
	gap: .5rem;
}

.qr-buttons button {
	border: none;
	padding: 4px 8px;
	border-radius: 4px;
	background-color: #3e3e3e;
}

.qr-buttons button:hover {
	text-decoration: underline;
}

@media only screen and (max-width: 600px) {
	.main {
		grid-template-columns: 1fr;
		grid-template-areas: 
		"qr"
		"info"
		"logs";
	}

	.qr-img {
		width: 65%;
		align-self: center;
	}
	.qr-contain {
		flex-direction: column;
		padding-bottom: 1rem;
	}
}