:root {
	--c-text: #fefae0ff;
	--c-highlight: #8A98EB;
	--c-content: #2e2e2e;
	--c-background: #1e1e1e;
	--c-1st: #5C55EF;
	--c-2nd: #9F5B1E;
}

.header {
	display: flex;
	justify-content: space-between;
	gap: 3rem;
	padding: .5rem 1.5rem;
	height: 60px;
	background-color: var(--c-2nd);
}

.header-logo img{
	width: 80px;
	aspect-ratio: 4/3;
	border-radius: 14px;
}

.header-nav ul{
	display: flex;
	gap: 3rem;
	font-size: 1.3rem;
}

.header-nav ul a:hover {
	text-decoration: underline;
}

.header-buttons {
	display: flex;
	gap: 1rem;
	margin: 1.3rem 0;
	margin-left: auto;
}

.header-buttons li button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.header-buttons .marterial-symbols-rounded {
	font-size: 1rem;
}

/* logout dialog */

.logout {
	border: none;
	padding: 0;
	background-color: transparent;
}

.logout button {
	width: 100%;
	height: 100%;
	background-color: var(--c-content);
	border: none;
	padding: 4px 8px;
	border-radius: 8px;
}

.logout button i {
	font-size: 1.3rem;
}