<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>STOP!!! | GateKeep</title>
	<link rel="stylesheet" href="resource://content-accessible/ImageDocument.css">
	<link rel="stylesheet" href="resource://content-accessible/TopLevelImageDocument.css">
</head>
<body>
	<img src="https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExMGdvNXlrM2J6ZGlldm05ZTNtMGgzaHBkcndkNDVxdDUzMXh4aGszMSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/8TweEdaxxfuElKkRxz/giphy.gif" alt="STOP!!!">
</body>
</html>