<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Not found | Gatekeep</title>
	<!--  -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded">
	<link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/setup.css">
    <link rel="stylesheet" href="/css/styles.css">
	<link rel="stylesheet" href="/css/404.css">
</head>
<body>
	<%- include('./component/header') %>
	<%- include('./component/aside') %>
	<main class="main">
		<h1>404</h1>
		<p>cannot find <span> <%= path %></span></p>
	</main>
	<nav class="nav">
		<ul>
			<li><a href="javascript:history.back()">Go Back<i class="material-symbols-rounded" aria-hidden="true">Arrow_forward</i></a> </li>
			<li><a href="/">Home<i class="material-symbols-rounded" aria-hidden="true">Arrow_forward</i></a> </li>
			<li><a href="/Help">Help<i class="material-symbols-rounded" aria-hidden="true">Arrow_forward</i></a> </li>
		</ul>
	</nav>

	<script src="/js/header.js" defer></script>
</body>
</html>