<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>dashboard | Gatekeep</title>
	<!--  -->
	<link defer href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded" rel="stylesheet">
	<link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/setup.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/dashboard.css">
</head>
<body>
	<header class="header">
		<a class="header-logo" href="."><img src="../images/logo.png" alt=""></a>
		<nav class="header-nav">
			<ul>
				<li><a href="">Home</a></li>
				<li><a href="../#About">About</a></li>
				<li><a href="">Help</a></li>
			</ul>
		</nav>
		<ul class="header-buttons">
			<li><button><i class="material-symbols-rounded">accessibility_new</i></button></li>
			<li><button><i class="material-symbols-rounded">Language</i></button></li>
			<li><button class="_mobileOnly"><i class="material-symbols-rounded">menu</i></button></li>
			<li><button class="_logout"><i class="material-symbols-rounded">Account_Circle</i></button></li>
		</ul>
	</header>
	<main class="main">
		<article class="logs">
			<header><h1>Logs</h1></header>
			<div class="logs-container">
				<template class="logs-item_template">
					<div class="logs-item">
						<p class="logs-item-title"><i class="material-symbols-rounded">Login</i> <span>IN</span></p>
						<p class="logs-item-desc"><span class="_name"></span> <span class="_isIn">arrived</span> at <span class="_time">0:00am</span> • <span class="_date">jan 0</span></p>
					</div>
				</template>
			</div>
		</article>
		<article class="info">
			<header class="info-header">
				<h2>Info</h2>
				<div class="info-header-buttons">
					<div class="dropdown">
						<button class="info-header-buttons-dropdown dropdown-button" isDropdownOpen="false" onclick="handleDropdown(this)" type="button"><i class="material-symbols-rounded" aria-hidden="true">more_vert</i></button>
						<div class="dropdown-contain">
							<ul>
								<li><button onclick="event.preventDefault()">do stuff</button></li>
								<li><button onclick="event.preventDefault()">do stuff</button></li>
							</ul>
						</div>
					</div>
					<button class="_mobileOnly"><i class="material-symbols-rounded" aria-hidden="true">keyboard_arrow_down</i></button>
				</div>
			</header>
			
			<div class="info-contain">
				<fieldset>
					<legend>Name</legend>
					<label><span></span></label>
				</fieldset>
				<fieldset>
					<legend>School info</legend>
					<label>Grade Level:<span></span></label>
					<label>Section:<span></span></label>
					<label>LRN:<span></span></label>
				</fieldset>
				<fieldset>
					<legend>Address</legend>
					<label><span></span></label>
				</fieldset>
			</div>
		</article>
		<article class="qr">
			<header><h3>QR code</h3></header>
			<div class="qr-contain">
				<img src="" alt="" class="qr-img">

				<!-- <div class="qr-buttons">
					<button tabindex="0"><i class="material-symbols-rounded">qr_code</i> Update QR code</button>
					<button tabindex="0"><i class="material-symbols-rounded">print</i> Print QR code (but why tho)</button>
				</div> -->
			</div>
		</article>
	</main>

	<script src="../js/dashboard.js" defer></script>
</body>
</html>