<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Gatekeep</title>
	<meta name="theme-color" content="#5048ef">
	<link rel="manifest" href="assets/manifest.json">
	<!--  -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded">
	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/setup.css">
	<link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
	<%- include('./component/header') %>
	<%- include('./component/aside', {displayName: "No User"}) %>

	<main class="main">
		<form class="form" onsubmit="loginSubmit(event)">
			<h1 class="form-header">Login</h1>
			<div class="form-input">
				<label class="form-input-label form-input-email">Email or Phone number
					<input class="form-input-email-input" name="username" type="text" pattern="(09\d{9}|[^\s@]+@[^\s@]+\.[^\s@]+)" minlength="1" inputmode="email">
					<span>Invalid Email or Phone Number</span>
				</label>
				<label class="form-input-label form-input-lrn">LRN
					<input class="form-input-lrn-input" name="lrn" type="text" pattern="[1-6]\d{5}(0\d|1\d|2[0-5])\d{4}" minlength="1" inputmode="numeric">
					<span>Invalid LRN</span>
				</label>
				<label class="form-input-label form-input-password">Password
					<input class="form-input-password-input" name="password" type="password">
					<span>Invalid Password</span>
				</label>
			</div>
			<a class="form-forgotPassword" href="/">Forgot Password?</a>
			<p class="form-signUp">Don't have an account? <a href="/">Sign Up</a></p>
			<button class="form-submit" type="submit">Login</button>
		</form>
	</main>

	<script src="/js/client.js" defer></script>
	<script src="/js/header.js" defer></script>
</body>
</html>