<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Not logged in | Gatekeep</title>
	<!--  -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded">
	<link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/setup.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/noUser.css">
</head>
<body>
	<header class="header">
		<a class="header-logo" href="/"><img src="/images/logo.webp" alt="website logo"></a>
		<nav class="header-nav _desktopOnly">
			<ul>
				<li><a href="/About">About</a></li>
				<li><a href="/Help">Help</a></li>
			</ul>
		</nav>
		<ul class="header-buttons">
			<li><button class="_desktopOnly" aria-label="Accessibility"><i class="material-symbols-rounded" aria-hidden="true">accessibility_new</i></button></li>
			<li><button class="_mobileOnly" onclick="handleAside()" aria-label="Menu"><i class="material-symbols-rounded" aria-hidden="true">menu</i></button></li>
			<li><button class="_logout _desktopOnly" aria-label="Account options"><i class="material-symbols-rounded" aria-hidden="true">Account_Circle</i></button></li>
		</ul>
	</header>
	<div class="overlay" onclick="handleAside()"></div>
	<aside class="aside _mobileOnly" aria-hidden="true">
		<button class="aside-hide" onclick="handleAside()"><i class="material-symbols-rounded" aria-hidden="true">menu</i></button>
		<div class="aside-account">
			<span class="aside-account-name"><i class="material-symbols-rounded" aria-hidden="true">Account_Circle</i> <%= displayName %></span>
			<button class="aside-account-logout" onclick="logout()" tabindex="0"><i class="material-symbols-rounded" aria-hidden="true">logout</i> Logout</button>
		</div>
		<hr>
		<nav class="aside-nav">
			<ul>
				<li><a href="/">Home <i class="material-symbols-rounded" aria-hidden="true">Arrow_forward</i></a></li>
				<li><a href="/About">About <i class="material-symbols-rounded" aria-hidden="true">Arrow_forward</i></a></li>
				<li><a href="/Help">Help <i class="material-symbols-rounded" aria-hidden="true">Arrow_forward</i></a></li>
			</ul>
		</nav>
	</aside>
	<main class="main">
		<h1><%= message %></h1>
		<nav class="main-nav">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/register">Register</a></li>
				<li><a href="/help">Help</a></li>
			</ul>
		</nav>
		<form onsubmit="loginSubmit(event)" class="main-form" id="form-login">
			<h2>Login</h2>
			<label>Email or Phone number <span class="main-form-invalid _hidden">Invalid</span><br> <input type="email" required pattern="[^\s@]+@[^\s@]+\.[^\s@]+" name="username"></label>
			<label>LRN <span class="main-form-invalid _hidden">Invalid</span><br> <input type="text" required pattern="[1-6]\d{5}(0\d|1\d|2[0-5])\d{4}" name="lrn"></label>
			<label>Password <span class="main-form-invalid _hidden">Invalid</span><br> <input type="password" required name="password"></label>
			<span class="main-form-message _noDisplay">Too many request, Try agian later</span>
			<button class="main-form-submit" tabindex="0">Login</button>
			<span class="main-form-redirect">Don't have an account? <a href="?signup">Register</a></span>
		</form>
	</main>

	<script src="/js/noUser.js"></script>
</body>
</html>