<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Print QR code | Gatekeep</title>
		<!--  -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded">
		<link rel="stylesheet" href="/css/normalize.css">
		<link rel="stylesheet" href="/css/setup.css">
		<link rel="stylesheet" href="/css/styles.css">
		<link rel="stylesheet" href="/css/print.css">
</head>
<body>
	<header class="header noPrint">
		<a class="header-logo" href="/"><img src="/images/logo.webp" alt="website logo"></a>
		<nav class="header-nav">
			<ul>
				<li><a href="/About">About</a></li>
				<li><a href="/Help">Help</a></li>
			</ul>
		</nav>
		<ul class="header-buttons">
			<li><button class="" aria-label="Accessibility"><i class="material-symbols-rounded" aria-hidden="true">accessibility_new</i></button></li>
			<li><button class="_mobileOnly" aria-label="Menu"><i class="material-symbols-rounded" aria-hidden="true">menu</i></button></li>
			<li><button class="_logout" aria-label="Account options"><i class="material-symbols-rounded" aria-hidden="true">Account_Circle</i></button></li>
		</ul>
	</header>
	<main class="main">
		<div class="print">
			<img class="print-img" src="" alt="">
			<p class="print-name"><%= name %></p>
			<p class="print-grade"><%= gradeLevel %> <%= section %></p>
		</div>
	</main>
	<section class="about noPrint">
		<div class="about-text">
			<p>Be sure to un-check the printing of headers and footers within the settings to reduce ink usage.</p>
			<a href="https://help.forsbergplustwo.com/en/articles/2908158" target="_blank">how to deselect headers and footers in <%= browser %><i class="material-symbols-rounded" aria-hidden="true">open_in_new</i></a>
		</div>
		<button onclick="print()">Print</button>
		<a href="/" class="about-nav">Home<i class="material-symbols-rounded" aria-hidden="true">arrow_forward</i></a>
	</section>

	<script src="/js/print.js"></script>
</body>
</html>