:root {
	--c-text: #fefae0ff;
	--c-text-dark: #b0a783;
	--c-highlight: #7C88D4;
	--c-content: #2e2e2e;
	--c-background: #1e1e1e;
	--c-1st: #5C55EF;
	--c-2nd: #9F5B1E;
}

._time {
	padding: 3px 4px;
	border-radius: 8px;
	background-color: #26262680;
	color: var(--c-2nd);
	font-weight: 500;
	font-style: italic;
}

::-webkit-scrollbar, .logs-container::-webkit-scrollbar {
	width: 6px;
}
::-webkit-scrollbar-track, .logs-container::-webkit-scrollbar-track {
	background: transparent;
}
::-webkit-scrollbar-thumb, .logs-container::-webkit-scrollbar-thumb {
	background-color: rgba(155, 155, 155, 0.5);
	border-radius: 20px;
	border: transparent;
}

.main {
	display: grid;
	gap: 1rem;
	grid-template-columns: 0.8fr 1.2fr;
	grid-template-rows: repeat(2, 1fr);
	grid-template-areas:
    "logs info"
    "logs qr";
	width: 100%;
	height: calc(100vh - 5rem);
	padding: 1rem 2rem;
	box-sizing: border-box;
	overflow: auto;
}

.main article {
	padding: 0.5rem 1.5rem;
	border-radius: 14px;
	background-color: var(--c-content);
}

/* *dropdown */
.dropdown-contain menu {
	padding: .3rem;
	margin: 0;
	display: none;
	position: absolute;
	top: 2rem;
	right: .5rem;
	background-color: #3e3e3e;
	border-radius: 14px;
}
/*  */

/* *logs */

.logs {
	grid-area: logs;
	padding: .5rem !important;
	height: 100%;
	overflow: hidden;
	box-sizing: border-box;
}

.logs h1 {
	margin: .5rem 0;
	text-align: center;
	font-weight: 600;
}

.logs-container {
	display: flex;
	flex-direction: column;
	/* flex-direction: column-reverse; */
	place-items: center;
	gap: 1rem;
	height: 90%;
	overflow-y: auto;
	scroll-snap-type: y mandatory;
	scrollbar-width: thin;
	z-index: 10;
}

.logs-item {
	width: 90%;
	padding: 1rem;
	border-radius: 14px;
	scroll-snap-align: start;
	background-color: #3e3e3e;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.logs-item-title {
	margin: 0.5rem 0;
	font-size: 1.5rem;
	font-weight: 500;
}

.logs-item-desc {
	margin: 0.5rem 0;
	font-size: .9rem;
}

/* *info */

.info-header {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin: .5rem 0;
}

.info-header h2 {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	margin: 0;
	font-size: 2rem;
}

.info-header-buttons {
	margin-left: auto;
	display: flex;
}

.info-header-buttons button {
	background: none;
	border: none;
}

.info-header-buttons button:hover {
	color: var(--c-text-dark)
}

.info-contain {
	width: 95%;
	padding: .5rem;
	margin: 0 auto;
}

.info-contain fieldset {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
	border: none;
	border: #3e3e3e 2px dashed;
	border-radius: 14px;
}

.info-contain fieldset legend {
	margin: 0 auto;
}

.info-contain-item_school {
	display: grid;
	grid-template-columns: repeat(3,1fr);
	gap: 1.5rem;
}

.info-contain-item-span {
	display: block;
	min-height: 18.4px;
	margin: 5px 0;
	padding: 4px;
	overflow: hidden;
	background-color: #fff;
	color: #000;
	text-overflow: ellipsis;
	border-radius: 4px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

/* *qr */

.qr { 
	position: relative;
	grid-area: qr; 
}

.qr-header {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: .5rem 0;
}

.qr-header h3 {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	margin: 0;
	font-size: 2rem;
}

.qr-header-buttons {
	margin-left: auto;
	display: flex;
}

.qr-header-buttons button {
	background: none;
	border: none;
}

.qr-header-buttons button:hover {
	color: var(--c-text-dark)
}

.qr-contain {
	display: flex;
	justify-content: center;
}

.qr-contain-img {
	width: 25%;
	margin: 1rem 0;
	border-radius: 14px;
	aspect-ratio: 1 / 1;
}

/* small screens */

@media only screen and (max-width: 600px) {
	.main {
		grid-template-columns: 1fr;
		grid-template-areas:
		"qr"
		"info"
		"logs";
		padding: .8rem;
	}

	.main article {
		padding: .5rem;
	}

	.logs {
		height: 500px;
	}

	.info-contain-item_school {
		display: block;
	}

	.qr-contain-img {
		width: 75%;
		align-self: center;
	}
}