.main {
	/* flex-grow: 1; */
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
    "info Logs"
    "qr Logs";
	gap: clamp(10px, 2vw, 5rem);
	width: 100%;
	box-sizing: border-box;
	padding: 1rem 2rem;
}

.main article {
	background-color: var(--c-content);
	padding: 1rem;
	box-shadow: var(--box-shadow);
	border-radius: 14px;
}

/** info  */

.info {
	grid-area: info;
	position: relative;
}

.info h2 {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	margin: 0;
	font-size: 2.074rem;
}

.info-content {
	display: grid;
	grid-auto-columns: 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 0px 0px;
	grid-template-areas:
	"name name name"
	"gradeLevel section lrn"
	"address address address";
	margin: 2rem 0;
	padding: clamp(0.5rem, 1vw, 2rem);
}

#name { grid-area: name; }
#grade-level { grid-area: gradeLevel; }
#section { grid-area: section; }
#lrn { grid-area: lrn; }
#address { grid-area: address; }

/** qr */

.qr {
	grid-area: qr;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.qr h3 {
	margin: 0 0 1rem 0;
	font-size: 2.074rem;
}

.qr img {
	width: 30%;
	border-radius: 12px;
}

/** logs  */

.logs {
	grid-area: Logs;
}


/* small screens */

@media only screen and (max-width: 600px) {

}