:root {
	--c-text: #fefae0ff;
	--c-highlight: #7C88D4;
	--c-content: #2e2e2e;
	--c-background: #1e1e1e;
	--c-1st: #5C55EF;
	--c-2nd: #9F5B1E;
}

._time {
	padding: 3px 4px;
	border-radius: 8px;
	background-color: #26262680;
	color: var(--c-2nd);
	font-weight: 500;
	font-style: italic;
}

.main {
	display: grid;
	gap: 1rem;
	grid-template-columns: 0.8fr 1.2fr;
	grid-template-rows: repeat(2, 1fr);
	grid-template-areas:
    "logs info"
    "logs qr";
	/* height: 80vh; */
	width: calc(100% - 4rem);
	height: calc(100vh - 6.75rem);
	padding: 1rem 2rem;
}

.main article {
	padding: 0.5rem 1.5rem;
	border-radius: 14px;
	background-color: var(--c-content);
}

/* *logs */

.logs {
	grid-area: logs;
	padding: .5rem !important;
}

.logs h1 {
	margin: .5rem 0;
	text-align: center;
	font-weight: 600;
}

.logs-container {
	display: flex;
	flex-direction: column;
	/* flex-direction: column-reverse; */
	place-items: center;
	gap: 1rem;
	height: 90%;
	overflow-y: auto;
	scroll-snap-type: y mandatory;
	scrollbar-width: thin;
}

/* doesn't work on my client */
.logs-container::-webkit-scrollbar-thumb {
	border-radius: 12px;
}

.logs-item {
	width: 90%;
	padding: 1rem;
	border-radius: 14px;
	scroll-snap-align: start;
	background-color: #3e3e3e;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.logs-item-title {
	margin: 0.5rem 0;
	font-size: 1.5rem;
	font-weight: 500;
}

.logs-item-desc {
	margin: 0.5rem 0;
	font-size: .9rem;
}

/* *info */

.info-header {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.info-header h2 {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.info-header-buttons {
	margin-left: auto;
}

/* *qr */

.qr { grid-area: qr; }

.qr h3 {
	font-size: 2rem;
	margin: .5rem 0;
	text-align: center;
}

.qr-contain {
	gap: 1rem;
}

.qr-img {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width: 25%;
	border-radius: 14px;
	aspect-ratio: 1 / 1;
}

.qr-buttons {
	display: flex;
	flex-direction: column;
	gap: .5rem;
}

.qr-buttons button {
	border: none;
	padding: 4px 8px;
	border-radius: 4px;
	background-color: #3e3e3e;
}

.qr-buttons button:hover {
	text-decoration: underline;
}

/* small screens */

@media only screen and (max-width: 600px) {
	.main {
		grid-template-columns: 1fr;
		grid-template-areas:
		"qr"
		"info"
		"logs";
		padding: .8rem;
	}

	.main article {
		padding: .5rem;
	}

	.logs {
		height: 500px;
	}

	.qr-img {
		width: 75%;
		align-self: center;
	}
	.qr-contain {
		flex-direction: column;
		padding-bottom: 1rem;
	}
}