.main {
	display: none;
	width: 30%;
	/* height: fit-content; */
	aspect-ratio: 3.5 / 4;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	padding: .5rem;
	background-color: #fff;
	color: #000;
	border-radius: 14px;
}

.print {	
	width: 100%;
	height: 100%;
	border: #3e3e3e 2px dashed;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: .5rem;
	border-radius: 14px;
	box-sizing: border-box;
	text-align: center;
}

.print-img {
	width: 80%;
	/* aspect-ratio: 1 / 1; */
	box-sizing: border-box;
}

.print-name {
	color: #000;
	margin: 8px 0;
	font-weight: 500;
}

.print-grade {
	color: #000;
	margin: 4px 0;
}

.about {
	max-width: 30%;
	margin: 3rem auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.about .material-symbols-rounded {
	font-size: 1rem;
}

.about-text {
	margin: 2rem 0 3rem 0;
	text-align: center;
}

.about-text p {
	margin: .3rem 0;
	font-size: 1.3rem;
}

.about-text a {
	color: var(--c-highlight);
	text-decoration: underline;
}

.about-text a:hover {
	text-decoration: none;
}

.about button {
	width: 25%;
	height: 2rem;
	margin: 0 0 3rem 0;
	border: none;
	padding: 4px;
	background-color: var(--c-1st);
	border-radius: 4px;
}

.about-nav {
	color: var(--c-highlight);
	text-decoration: underline;
	transform: translateX(5px);
}

.about-nav:hover {
	text-decoration: none;
}

.about-nav i {
	transform: translateX(0);
	transition: transform 0.3s cubic-bezier(0.17,0.84,0.44,1);
}

.about-nav:hover i {
	transform: translateX(5px);
	transition: transform 0.3s cubic-bezier(0.17,0.84,0.44,1);
}

@media print {
	.noPrint {
		display: none !important;
	}

	.main {
		display: block;
		position: initial;
		transform: initial;
	}
}

@media only screen and (max-width: 600px) {
	.about {
		max-width: 80vw;
	}

	.about-text p {
		line-height: 1.8rem;
	}
}