<header class="header">
	<nav class="header-nav">
		<a href="/" class="header-nav-logo"><img src="/images/logo.webp" alt="Home"></a>
		<a href="/About" class="_desktopOnly">About</a>
		<a href="/Help" class="_desktopOnly">Help</a>
	</nav>
	<div class="header-actions">
		<button class="_desktopOnly" aria-label="Account"><i class="material-symbols-rounded" aria-hidden="true">Account_Circle</i></button>
		<button class="_mobileOnly" onclick="handleAside()"><i class="material-symbols-rounded">menu</i></button>
	</div>
</header>