<dialog class="userInfoDialog">
	<header><p>User Info</p></header>
	<div class="userInfoDialog-container">
			<span>
				QR CODE:<br>
				<span class="_nullItems" id="userInfo-qrId">null</span>
				<img src="" title=""  id="userInfo-qrImage" alt="qr code">
			</span>
			<span>Last Name:<br> <span class="_nullItems" id="userInfo-lastName">null</span></span>
			<span>First Name:</br> <span class="_nullItems" id="userInfo-firstName">null</span></span>
			<span>Middle Name:</br> <span class="_nullItems" id="userInfo-middleName">null</span></span>
			<span>LRN:</br> <span class="_nullItems" id="userInfo-lrn">null</span></span>
			<span>Grade Level:</br> <span class="_nullItems" id="userInfo-gradeLevel">null</span></span>
			<span>Section:</br> <span class="_nullItems"  id="userInfo-section">null</span></span>
			<span>Age:</br> <span class="_nullItems" id="userInfo-age">null</span></span>
			<span>Sex:</br> <span class="_nullItems" id="userInfo-sex">null</span></span>
			<span>Zip:</br> <span class="_nullItems" id="userInfo-zip">null</span></span>
			<span>Barangay:</br> <span class="_nullItems" id="userInfo-barangay">null</span></span>
			<span>City/Municipality:</br> <span class="_nullItems" id="userInfo-city">null</span></span>
			<span>Province:</br> <span class="_nullItems" id="userInfo-province">null</span></span>
			<span>Street Name:</br> <span class="_nullItems" id="userInfo-street">null</span></span>
			<span>House Number:</br> <span class="_nullItems" id="userInfo-houseNo">null</span></span>
			<span>User Id:</br> <span class="_nullItems" id="userInfo-userId">null</span></span>
	</div>
</dialog>