:root {
	--c-text: #fefae0ff;
	--c-highlight: #7C88D4;
	--c-content: #2e2e2e;
	--c-background: #1e1e1e;
	--c-1st: #5C55EF;
	--c-2nd: #9F5B1E;
}

.main {
	height: calc(100vh - 2rem);
	padding: 1rem 2rem;
	display: grid;
	gap: 1rem;
	grid-template-columns: 0.8fr 1.2fr;
	grid-template-rows: 1.2fr 0.8fr;
	grid-template-areas:
	"scanner info"
	"scanner settings";
}

.main .section {
	padding: 1rem;
	border-radius: 14px;
	box-shadow: rgb(2, 9, 15) 0px 30px 40px -10px;;
}

/* *scanner */
.scanner {
	grid-area: scanner;
	box-shadow: rgba(82, 88, 92, 0.3) 0px 1px 2px 0px, rgba(131, 138, 143, 0.15) 0px 2px 6px 2px !important;
}

.scanner-container {
	position: relative;
	top: 50%;
	/* transform: translateY(-50%) scaleX(-1) !important; */
	transform: translateY(-50%);
}

._notMirror {
	transform: scaleX(1) !important;
}

#scanner-video {
	width: 100%;
	aspect-ratio: 1/1;
	object-fit: cover;
	border-radius: 14px;
	box-shadow: rgba(100, 107, 112, 0.3) 0px 1px 2px 0px, rgba(133, 140, 146, 0.2) 0px 2px 12px 4px;
}

/* 	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px !important; */

/* *info */

.info {
	grid-area: info;
	background-color: var(--c-content);
	padding: .5rem !important;
}

.info::backdrop {
	backdrop-filter: blur(4px);
}

.info-header h1 {
	font-size: 1.8rem;
	margin: .3rem auto;
	font-weight: 600;
	text-align: center;
}

.info-header-text {
	text-align: center;
	margin: .3rem auto;
	height: 18.4px;
	visibility: hidden;
}

.info-header_error {
	color: red;
}

.info fieldset {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
	border: none;
	border: #3e3e3e 2px dashed;
	border-radius: 14px;
}

.info fieldset legend{
	margin: 0 auto;
	margin-top: .5rem;
	font-size: 1rem;
}

.info-general-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

.info-address-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

.info-contain label {
	font-size: 1rem;
	width: 95%;
}

.info-contain label p {
	display: block;
	margin: 1px 0;
	padding: 4px 2px;
	height: 18.4px;
	border-radius: 4px;
	background-color: #fff;
	color: #000;
}

.info-buttons {
	display: flex;
	justify-content: center;
	gap: 1rem;
	margin: 5px 0;
	/* color: var(--c-text); */
}

.info-buttons button {
	height: 100%;
	width: 15%;
	padding: 8px 4px;
	border: none;
	border-radius: 14px;
	background-color: var(--c-1st);
}

.info-buttons button:hover {
	text-decoration: underline;
}

/* *settings */

.settings {
	grid-area: settings;
	background-color: var(--c-content);
}

.settings form {
	display: flex;
	height: 100%;
}

.settings fieldset{
	display: flex;
	flex-direction: column;
	width: 50%;
	border: #3e3e3e 2px dashed;
	border-radius: 14px;
}